$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

$navbar-default-bg: #fff8e4;
$jumbotron-bg: #fffcf4;

@import 'sass-bootstrap/lib/bootstrap';

//// header

.logo {
  float: left;
  margin-right: 30px;
  font-size: 1.7em;
  color: #444;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;

  sup {
    font-size: 60%;
  }

  &:hover {
    color: #000;
    text-decoration: none;
  }
}

h1 sup {
  font-size: 45%;
  top: -0.8em;
}

div.navbar-collapse {
  padding-right: 0;

  .navbar-right {
    padding-right: 0;
  }
}

//// body

body {
  padding-top: 60px;
}
