  <div class="jumbotron">
    <h1>
      memo<sup> alpha</sup>
    </h1>
    <p>
      This allows ...
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#/about">Learn more >></a></p>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h2>Foo</h2>
      <p>
        foo bar baz.
      </p>
    </div>
    <div class="col-lg-4">
      <h2>Foo</h2>
      <p>
        foo bar baz.
      </p>
    </div>
    <div class="col-lg-4">
      <h2>Foo</h2>
      <p>
        foo bar baz.
      </p>
    </div>
  </div>


<a href="/memo.rdf">
  <img src="images/feed-icon-28x28.png">
</a>
