<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <ol class="breadcrumb col-xs-9 col-sm-10 col-md-10 col-lg-10">
      <li ng-repeat="d in dirSplit" ng-class="{active: !d.link}"><a ng-show="d.link" ng-href="#/{{d.link}}">{{d.name}}</a><span ng-hide="d.link">{{d.name}}</span></li>
    </ol>
    <div class="pull-right">
      <a ng-href="#/memos/{{file}}/edit" class="btn btn-primary">
        Edit
      </a>
      <a ng-href="#/{{dir}}" class="btn btn-default">
        Close
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <span class="markdown" ng-bind-html="memo.content | markdown"></span>
  </div>
</div>
