<br>

<ol class="breadcrumb">
  <li ng-repeat="d in dirSplit"><a ng-show="d.link" ng-href="#/{{d.link}}">{{d.name}}</a><span ng-hide="d.link">{{d.name}}</span></li>
</ol>

<ul class="memos-dir">
  <li ng-repeat="memo in memos">
    <div ng-show="memo.dirName">
      <span class="glyphicon glyphicon-folder-close"></span>
      <a ng-href="#/{{dir}}/{{memo.dirName}}">
        {{memo.dirName}}/
      </a>
    </div>

    <div ng-hide="memo.dirName">
      <span class="glyphicon glyphicon-file"></span>
      <a ng-href="#/{{dir}}/{{memo}}">
        {{memo}}
      </a>
    </div>
  </li>
</ul>
